
{{> head}}

    {{> navbar}}
    
             <div class="col-8">
                 <h1>HOLA JORGE</h1>
             </div>
             <form>
<label> Nombre</label><input type:"text" placeholder:"Nombre prro">

             </form>
             <div class="col-4">
                 <img src="assets/img/img1.jpg" class="img-thumbnail">
             </div>
    {{> footer}}
    
